.container{
    width:95%;
    max-width: 980px ;
    margin: 0 auto;
}
.columns{
    display: flex;
    justify-content: space-between;
    margin:  1em 0;
}
img{
    max-width: 100%;
}
body{
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
}
h1{
    font-size: 3rem;
    color: #312614;
    text-align: center;
}
h1 span{
    color: #b7832f;
}
h2{
    font-size: 1.2rem;
}
.col-bg{
    background: #312614;
    padding: 1em;
    color: #fff;
}
p{
    margin-top: 0;
}
.col-1 {
    width: 20%;
}
.col-2{
    width: 45%;
}
.col-3{
    width: 70%; 
}
@media (max-width: 600px) {
   .columns{
    flex-direction: column;
   }
   .col-1,
   .col-2,
   .col-3{
    width: 90%;
   }
}